


<table>
<table class="table">
  <h1>Listing Reading Lists</h1>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reading_lists.each do |reading_list| %>
      <tr>
        <td><%= reading_list.user %></td>
        <td><%= link_to reading_list.title, reading_list %></td>
        <td><%= link_to 'Edit', edit_reading_list_path(reading_list) %></td>
        
        <td><%= button_to 'Destroy',reading_list, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Reading list', new_reading_list_path, class: "btn btn-success" %><br>

<p><%= link_to 'list of Articles', articles_path, class: "btn btn-success" %>
