

<div class="panel panel-default">
  <div class="panel-body" >
  	<div class="row">
  		<div class="col-md-4" >
  			<%= image_tag @article.image.url(:medium) %>
  			<div class="table-responsive">
  				<table class="table" >
  					<tbody >
              <tr>
  						   <td><strong>Title:</strong></td>
  						   <td><%= @article.title %></td>
  					  </tr>
              <tr>
              <td><strong>Article Status:</strong></td>
                 <td><%= @article.status_type %></td>
              </tr>
  					  <tr>
  					  	  <td><strong>Author name:</strong></td>
  						   <td><%= @article.author_name %></td>
  						    <%= link_to ' Edit ', edit_article_path(@article) %> |  <%= link_to ' Back ', articles_path %>
  					  </tr>
  					  </tr>
  					</tbody>
  				</table>
          <%= link_to "write a comment", new_article_review_path(@article),class:"btn btn-danger" %>
  			</div>
  		</div>
      <div class="col-md-7 col-md-offset-1">
          <h1 class="review_title"><%= @article.title %></h1>
          <p><%= @article.online_location %></p>

          <% if @reviews.blank? %>
            <h3>No Reviews yet, would you like to be the first one my prince/princess</h3>
            <%= link_to "write comment", new_article_review_path(@article), class:"btn btn-danger" %>
           
            <% else %>
              <% @reviews.each do |review| %>
                   <div class="reviews">
                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                      <p><%= review.comment %></p>
                   </div>
              <% end %>
            <% end %>
      </div>
  	</div>	
  </div>
</div>
  
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>
