


<table>
  <table class="table">
    <h1>Listing Online Articles</h1>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Online path</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @online_articles.each do |online_article| %>
      <tr>

        <td><%= online_article.Title %></td>
        <td><%= online_article.Description %></td>
        <td><a href="<%= online_article.Online_path %>">Go to</a></td>
        <!-- <td><%#= online_article.Online_path %></td> -->
        <td><%= online_article.Author %></td>
        <td><%=  link_to 'Show', online_article %></td>
        <td><%=  link_to 'Edit', edit_online_article_path(online_article) %></td>
        <!-- god dayyyyuuuuum finally worked the destroy button  -->
       <td><%= button_to 'Destroy', online_article, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Online article', new_online_article_path , class: "btn btn-danger"%>
